<h2>Garment Types</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garmenttypes.each do |garmenttype| %>
  <tr>
    <td><span class="itemtitle"><%= garmenttype.name %></span></td>
    <td><%= garmenttype.description %></td>
    <td><%= link_to 'Show', garmenttype %></td>
    <td><%= link_to 'Edit', edit_garmenttype_path(garmenttype) %></td>
    <td><%= link_to 'Delete', garmenttype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Garment Type', new_garmenttype_path %>
