<h1>Client Sources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientsources.each do |clientsource| %>
  <tr>
    <td><span class="itemtitle"><%= clientsource.name %></span></td>
    <td><%= clientsource.description %></td>
    <td><%= link_to 'Show', clientsource %></td>
    <td><%= link_to 'Edit', edit_clientsource_path(clientsource) %></td>
    <td><%= link_to 'Delete', clientsource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client Source', new_clientsource_path %>
