<h1>Expense Types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expensetypes.each do |expensetype| %>
  <tr>
    <td><span class="itemtitle"><%= expensetype.name %></span></td>
    <td><%= expensetype.description %></td>
    <td><%= link_to 'Show', expensetype %></td>
    <td><%= link_to 'Edit', edit_expensetype_path(expensetype) %></td>
    <td><%= link_to 'Destroy', expensetype, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expensetype', new_expensetype_path %>
