      <div id="nav" class="large">
           <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Clients', '#' %></li>
            <li><%= link_to 'Team', '#' %></li>
            <li><%= link_to 'Projects', '#' %></li>
            <li><%= link_to 'Expenses', '#' %></li>
            <li><%= link_to 'Payments', '#' %></li>
            <li><%= link_to 'Garment Models', '#' %></li>
            <li><%= link_to 'Reports', '#' %></li>
            <li><%= link_to 'Config', config_path %></li>
          </ul>
      </div>
