<!DOCTYPE html>
<html>
<head>
  <title>ProControl</title>  
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js" %>
  <%= javascript_include_tag :all %>

  <%= render 'layouts/stylesheets' %> 
  <%= csrf_meta_tag %>
</head>
<body>
  <br />
  <div class="container">
    <div class="span-6 colborder">
      <%= image_tag("procontrol.jpg", :alt => "ProControl", :class => "center") %>
      <h2 class="centered">My Projects</h2>
      <%= render 'layouts/nav' %>
    </div>
    <div class="span-16 append-1 last">
      <%= yield %>
    </div>
    
  </div>


</body>
</html>
